<header>
    <h1>Admin Dashboard</h1>
</header>
<nav style="background-color: #444; padding: 10px; text-align: center;">
    <a href="/login" style="color: white; margin: 0 15px; text-decoration: none;">Log Out</a>
    <a href="/chatrooms-page" style="color: white; margin: 0 15px; text-decoration: none;">Chat Rooms</a>
    <a href="/dashboard" style="color: white; margin: 0 15px; text-decoration: none;">Dashboard</a>
</nav>